* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
NOTICE text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.ini text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.mako text eol=lf
*.spec text eol=lf
*.lock text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
*.7z binary
*.rar binary
*.exe binary
*.dll binary
